@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* --- Animación de Entrada --- */
@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(10px); /* Opcional: para que suba un poco */
  }
  to { 
    opacity: 1; 
    transform: translateY(0);
  }
}

/* Clase de utilidad para usar la animación */
.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}