@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* --- Animación de Entrada --- */
@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(10px); /* Opcional: para que suba un poco */
  }
  to { 
    opacity: 1; 
    transform: translateY(0);
  }
}

/* Clase de utilidad para usar la animación */
.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* --- Animacion para Modales --- */
@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(15px); }
    to   { opacity: 1; transform: translateY(0); }
  }
  .animate-fadeInUp {
    animation: fadeInUp 0.3s ease-out;
  }

/* Para navegadores basados en Webkit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
